{% extends "auctions/layout.html" %} {% block body %}
<h1 class="m-3">New Listing</h1>
<form class="m-3" action="{% url 'new_listing' %}" method="POST">
  {% csrf_token %} {% for field in create_form %}
  <label for="{{ field.id_for_label }}">{{ field.field_name }}</label>
  {{ field }} {% endfor %}
  <input type="submit" class="form-control btn btn-primary mt-3" />
  <!-- <input type="text" placeholder="Title" name="title" class="form-row mb-2" />
  <textarea
    name="description"
    id="description"
    cols="30"
    rows="5"
    placeholder="Description"
    class="form-row mb-2"
  ></textarea>
  <input type="text" name="price" class="form-row mb-2" placeholder="Price £" />
  <input
    type="text"
    placeholder="Image URL"
    name="image_url"
    class="form-row mb-2"
  />
  <input
    type="text"
    placeholder="Category"
    name="category"
    class="form-row mb-2"
  />-->
</form>
{% endblock %}
