{% extends "auctions/layout.html" %} {% block body %}
<div class="container-fluid">
  <h2>Watchlist</h2>
  <div class="row mx-2">
    {% for listing in listings %}
    <div class="card mx-2" style="width: 25rem; min-height: 30rem">
      <div class="card-body">
        <h3 lass="card-title">{{ listing.title }}</h3>
        <p lass="card-text">{{ listing.description}}</p>
        <h4>£{{ listing.starting_bid.bid }}</h4>
        <a href="{% url 'listing' listing.id %}" class="btn btn btn-success">
          Details
        </a>
      </div>
      <div class="thumb">
        <img
          src="{{ listing.image_url }}"
          alt="{{ listing.title }}"
          class="img-thumbnail"
          style="width: 25rem; height: 20rem; object-fit: cover"
        />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
